* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(./Backdrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-height: 846px;
  height: 100%;
  background-color: #fff;
  border-radius: 24px;
}

.image {
  background-image: url(./Placeholder2.png);
  background-position: center;
  background-size: contain;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.form-container {
  display: flex;
  padding: 3rem 4rem;
  flex-direction: column;
  gap: 48px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form-header h3 {
  color: #333;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-header p {
  color: #666;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  border-radius: 40px;
  border: 1px solid #333;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .center {
    display: flex;
  }
}

@media screen and (max-width: 426px) {
  .form-container {
    padding: 24px 32px;
    gap: 32px;
  }
}