* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  /* max-width: 1780px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 10rem;
}

header h2{
  font-size: min(4vw,48px);
}

a {
  text-decoration: none;
  color: #000;
} 

.nav-center ul {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}

.nav-center ul li {
  list-style-type: none;
  font-size: min(2vw,24px);
}

.nav-center ul li:last-of-type{
  margin-right: auto;
}
.nav-center ul a:hover, .sign-in a:first-of-type:hover{
  text-decoration: underline blue;
}

.sign-in {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3rem;
  font-size: min(2vw,24px);
}



/* .sign-in a:hover {
  text-decoration: underline blue;
} */

.hero-container {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
}

.hero-text {
  align-self: center;
}

.hero-text p:first-child {
  color: rgba(68, 195, 235, 0.80);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero-text p:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.3rem;
  max-width: 650px;
  margin-bottom: 60px;
}

.button {
  padding: 1rem 3rem;
  border-radius: 25px;
  border: none;
  background: #E87A14;
  color: #fff;
  font-size: 24px;
}

.hero-image{
  position: relative;
  max-width: 627px;
}

.hero-image img {
  width: 100%;
}

@media screen and (max-width:1024px) {
  .nav-center ul{
    gap: 1rem;
  }
  .sign-in{
    gap: 1rem;
  }
  .signup{
    padding: 10px 20px;
  }
}