* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  /* max-width: 1780px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

header h2{
  font-size: clamp(2rem,4vw,3rem);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #000;
} 

.nav-center ul {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}

.nav-center ul li {
  list-style-type: none;
  font-size: clamp(14px,2vw,1.5rem);
  font-family: 'Poppins',sans-serif;
}

.nav-center ul li:last-of-type{
  margin-right: auto;
}
.nav-center ul a:hover, .sign-in a:first-of-type:hover{
  text-decoration: underline blue;
}

.sign-in {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3rem;
  font-size: clamp(14px,2vw,1.5rem);
  font-family: 'Poppins', sans-serif;
}



/* .sign-in a:hover {
  text-decoration: underline blue;
} */

.hero-container {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.hero-text p:first-child {
  color: rgba(68, 195, 235, 0.80);
  /* font-family: 'Poppins', sans-serif; */
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.5;
  text-transform: uppercase;
}

.hero-text p:nth-child(2) {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(2rem,4.5vw,3rem);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.3rem;
  max-width: 650px;
  /* margin-bottom: 60px; */
}

.button {
  max-width: 192px;
  padding: 1rem 3rem;
  border-radius: 25px;
  border: none;
  background: #E87A14;
  color: #fff;
  font-size: clamp(14px,2vw,1.5rem);
  font-family: 'Poppins', sans-serif;
}


.hero-image{
  position: relative;
  max-width: 627px;
  width:80%
}

.hero-image img {
  width: 100%;
}

@media screen and (max-width:1330px) {
  .nav-center ul{
    gap: 1rem;
  }
  .sign-in{
    gap: 1rem;
  }
  .button{
    padding: 10px 20px;
  }
}